@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Romanesco&display=swap');


:root{
    --font-inter: 'Inter', sans-serif;
    --color-azul: #209dc7;
    --color-naranja:  hsl(40, 97%, 50%);
    --color-negro: #000000;
    --color-gris: #eee;
    --color-blanco: #fff;
}



.verdana-font-global {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.pad {
    padding: 10px;
}

.link {
    text-decoration: none;
}

.colorAzul{
    color: var(--color-azul);
}

.colorNaranja {
    color: var(--color-naranja);
}

.colorBlanco {
    color: var(--color-blanco);
}

.verdana-font-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}
 .bg-contacts {
    background-color: var(--color-azul);
 }

 .bg-moreinfo {
    background-color: var(--color-negro);
 }

 .bg-footer{
    background-color: var(--color-naranja);
 }

 .navbar-section {
    background-color: var(--color-blanco);
    box-shadow: 6px 6px 15px var(--color-gris);
    box-sizing: border-box;
 }

 .image-circle {
    border-radius: 50%;
    border: 4px solid var(--color-naranja);
 }

 .card-scalar :hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
 }

 





